1- Implementar GET de una lista de "contributor".
    Devuelve una lista de todos los contribuyentes.
2- Implementar GET de un "contributor".
    Devuelve un contribuyente.
3- Implementar POST de "contributor".
    Da de alta un contribuyente o lo modifica en caso de existir.
4- Implementar GET de una lista de "contribution type".
    Devuelve una lista de todos los tipos de contribuciones.
5- Implementar GET de un "contribution type".
    Devuelve un tipos de contribucion.
6- Implementar POST de "contribution type".
    Da de alta un tipo de contribucion o lo modifica en caso de existir.
7- Implementar GET de una lista de "contribution".
    Devuelve una lista de todas las contribuciones.
8- Implementar GET de una "contribution".
    Devuelve una contribucion.
9- Implementar POST de "contribution".
    Da de alta una contribucion o la modifica en caso de existir.
