@(contributor: Form[Contributor]) 
@import helper._ 
@import helper.twitterBootstrap._ 

@main("Product form") {
	<h1>Contributor</h1>
	<form class='form' method='POST' action='@routes.Contributors.save()'>
		<fieldset class='form-group'>
			<legend>Contributor (@contributor("name").valueOr("New"))</legend>
			<input type='hidden' id='id' name='id' value='@contributor("id").valueOr("")'>
			<label for='name'>Name</label>
			<input type='text' id='name' name='name' value='@contributor("name").valueOr("")'>
		</fieldset>
		<button type='submit' class='btn btn-primary'>
			<span class='glyphicon glyphicon-plus'></span> Save
		</button>
	</form>
}
