@(contributors: Set[Contributor]) 

@main("Contributors") {
	<h2>Contributors</h2>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@for( c <- contributors ) {
					<tr>
						<td>@c.getName()</td>
						<td><a href="@routes.Contributors.get(c.getId())">Edit</a></td>
					</tr>
				} 
			</tbody>
		</table>
	</div>
	<a href="@routes.Contributors.create()" class="btn btn-lg btn-primary">New Contributor</a>
}

