@(contributionType: Set[ContributionType]) 

@template("Contribution Types") {
	<a href="@routes.ContributionTypes.create()" class="btn btn-md btn-primary">New Contribution Type</a>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Code</th>
					<th>Name</th>
					<th>Score</th>
				<th class='col-md-2'>Actions</th>
				</tr>
			</thead>
			<tbody>
				@for( c <- contributionType ) {
					<tr>
						<td>@c.getCode()</td>
						<td>@c.getName()</td>
						<td>@c.getScore()</td>
						<td>
							<div class='btn-group'>
								<a class='btn btn-success' href='@routes.ContributionTypes.get(c.getId())'>Edit</a>
								<a class='btn btn-danger' href='@routes.ContributionTypes.remove(c.getId())'>Remove</a>
							</div>
						</td>
					</tr>
				} 
			</tbody>
		</table>
	</div>
}

