<header id='header'>
	<nav class='navbar navbar-static-top'>
		<div class='container-fluid'>
			<div class='navbar-header'>
				<img alt='Baufest Contribution Manager' src='@routes.Assets.at("images/baufest-logo.png")'>
			</div>
			<div id='nav' class='navbar-right'>
				<ul class='nav navbar-nav'>
					<li><a href='@routes.Application.index()'>Home</a></li>
					<li><a href='@routes.Contributions.index()'>Contributions</a></li>
					<li><a href='@routes.ContributionTypes.index()'>Contribution types</a></li>
					<li><a href='@routes.Contributors.index()'>Contributors</a></li>
					<li><a href='@routes.Application.login()'>Log in</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>	