<header id='header'>
	<nav class='navbar navbar-static-top'>
		<div class='container-fluid'>
			<div class='navbar-header col-xs-12 col-sm-7 col-md-5'>
				<img alt='Baufest Contribution Manager' src='@routes.Assets.at("images/baufest-logo.png")'>
			</div>
			<div id='nav' class='col-xs-12 btn-group visible-xs'>
				<button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
			    	<span class='glyphicon glyphicon-cog'></span> Action <span class='caret'></span>
			  	</button>
			  	<ul class='dropdown-menu text-center' role='menu'>@navbar()</ul>
			</div>
			<div id='nav' class='col-sm-7 col-md-5 navbar-right hidden-xs'>
				<ul class='nav navbar-nav navbar-right'>@navbar()</ul>
			</div>
		</div>
	</nav>
</header>	