@(contributions: List[Contribution]) 

@template("Contributions") {
	<a id='new-contribution' href="@routes.Contributions.create()" class="btn btn-md btn-primary">New Contribution</a>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Type</th>
					<th class='col-md-2'>Actions</th>
				</tr>
			</thead>
			<tbody>
				@for( c <- contributions ) {
					<tr>
						<td>@c.getTitle()</td>
						<td>@c.getContributionType().getName()</td>
						<td>
							@actions({routes.Contributions.get(c.getId())}, {routes.Contributions.remove(c.getId())})
						</td>
					</tr>
				} 
			</tbody>
		</table>
	</div>
}

