@(contributions: List[ContributionForm])

@import helper._

@main.main {
	<div class="st-list">
		<h2>Contribuciones</h2>
		
		<div class="st-list-actions">
			@form(routes.ContributionController.create()){
				<input type="submit" class="st-add-row-btn" value="Agregar"/>
			}
		</div>
		<div class="st-data-table zebra-striped">
			<table>
				<thead>
					<tr>
						<th class="st-id-cell">Id</th>
						<th>Tipo de contribución</th>
						<th>Contribuyente</th>
						<th>Descripción</th>
						<th class="st-actions-cell">Acciones</th>
					</tr>
				</thead>
				<tbody>
					@for(contribution <- contributions){
						<tr>
							<td>@contribution.id</td>
							<td>
								@contribution.contributionTypeCode
							</td>
							<td>
								@if(contribution.contributors.size > 0){
									@contribution.contributors.get(0).code
								}
							</td>
							<td>
								@contribution.description
							</td>
							<td>
								@form(routes.ContributionController.delete(contribution.id)){
									<input class="st-remove-row-btn" type="submit" value="Eliminar">
								}
								@form(routes.ContributionController.edit(contribution.id)){
									<input class="st-edit-row-btn" type="submit" value="Editar">
								}
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>

}